@import "../../app.scss";

.items-grid {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(4, 1fr);
  padding: 6rem;

  .item:nth-child(odd) {
    background-color: $primary;
  }

  .item:nth-child(even) {
    background-color: $secondary;
  }

  @include tablet {
    display: flex;
    flex-direction: column;
  }

  @include mobile {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.item {
  border-radius: 6px;
  padding: 0.5rem;
  border: 4px solid $accent;

  align-items: flex-start;
  justify-content: flex-start;
  color: white;
}

.item-container {
  padding: 1rem;
  text-wrap: pretty;

  h1 {
    font-size: 40px;
    padding-bottom: 1rem;

    @include tablet {
      font-size: 30px;
    }

    @include mobile {
      font-size: 25px;
    }
  }

  p {
    font-size: 20px;
    padding-top: 1rem;
    line-height: 2rem;

    @include tablet {
      font-size: 18px;
    }

    @include mobile {
      font-size: 16px;
    }
  }
}

.item:last-child {
  grid-column-start: 4;
  grid-row-start: 1;
  grid-row-end: 3;
}

.grid-col-span-2 {
  grid-column: span 2;
}
